<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rupeek.rupeektest">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".RupeekApp"
        android:allowBackup="true"
        android:icon="@drawable/com_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/com_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.RupeekTest">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />


        <activity
            android:name=".ui.DirectionsActivity"
            android:label="Place direction"/>
        <activity
            android:name=".ui.PlacesActivity"
            android:label="Places of Interest" />
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/StartActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>